.Navbar {
	position: fixed;
	width: 100%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	z-index: 1000;
}

.LogoHolder {
	padding-left: 0.5rem;
}

.DotsMenu {
	color: rgb(204, 204, 204);
	font-size: 1.5rem;
	margin: auto 1rem;
	transition: all 0.3s linear;
}

.DotsMenu:hover {
	color: #fff;
}

@media (min-width: 780px) {
	.Navbar {
		position: fixed;
		width: 100%;
		background: black;
		display: flex;
		justify-content: space-between;
		box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
	}

	.DotsMenu {
		display: none;
	}

	.LogoHolder {
		margin-left: 2rem;
	}
}
