.LinksContainer {
	position: absolute;
	background: black;
	top: 0%;
	width: 100%;
	height: 0%;
	overflow: hidden;
	transition: all 0.3s linear;
	box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.SearchIcon {
	align-self: center;
}

.ShowLinksContainer {
	height: 200px;
}

.LogoAndCloseMenu {
	display: flex;
	justify-content: space-between;
	padding-left: 0.5rem;
}

.CloseMenu {
	color: rgb(204, 204, 204);
	margin-top: 1rem;
	margin-right: 1rem;
	font-size: 1.8rem;
}

.CloseMenu:hover {
	color: #fff;
	font-size: 1.8rem;
}

@media (min-width: 410px) {
	.ShowLinksContainer {
		height: 255px;
	}
}

@media (min-width: 780px) {
	.LogoAndCloseMenu {
		display: none;
	}

	.ShowLinksContainer {
		height: 50px;
	}

	.LinksContainer {
		position: relative;
		display: flex;
		padding: 0.5rem;
		width: 30%;
		box-shadow: none;
		background: transparent;
	}
}

@media (min-width: 1080px) {
	.LogoAndCloseMenu {
		display: none;
	}

	.LinksContainer {
		position: relative;
		display: flex;
		padding: 0.5rem;
		width: 40%;
		background: transparent;
	}
}

@media (min-width: 1300px) {
	.LogoAndCloseMenu {
		display: none;
	}

	.LinksContainer {
		position: relative;
		display: flex;
		padding: 0.5rem;
		width: 25%;
		background: transparent;
	}
}
