.SearchDogsDisplayList {
	background: rgb(39, 39, 39);
}

.SearchDogsDisplayHolder {
	display: grid;
	gap: 2.5rem 2rem;
	max-width: 1190px;
	min-height: 50vh;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1.5fr));
	margin: 0 auto;
	background: rgb(39, 39, 39);
	padding-top: 3rem;
}

.NoFoundMessage {
	height: 30vh;
	margin: 0 auto;
	font-size: 1rem;
	text-transform: capitalize;
}

.DogIcon {
	font-size: 2rem;
	margin-right: 1rem;
}
