.NavigationItem {
	padding: 5px;
	text-align: center;
}

.NavigationItem a {
	color: rgb(204, 204, 204);
	text-transform: capitalize;
	transition: all 0.5s linear;
}

.NavigationItem a:hover {
	transform: scale(1.2);
	font-weight: bold;
	color: white;
	text-decoration: underline;
}

.Active {
	transform: scale(1.2);
	font-weight: bold;
	color: white;
	text-decoration: underline;
}

@media (min-width: 420px) {
	.NavigationItem a {
		font-size: 1.5rem;
	}
}

@media (min-width: 780px) {
	.NavigationItem {
		margin: 0 1rem;
		text-align: center;
	}

	.NavigationItem a {
		font-size: 1rem;
	}
}
