.Hero {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url("../Assets/Images/pexels-pixabay-372120.jpg") center/cover no-repeat;
  min-height: 100vh;
}

.Hero h1 {
  font-size: 1.5rem;
  line-height: 0.8;
  font-weight: 300;
}

.Hero p {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

.HeroDetails {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 20rem;
}

.HeroBanner {
  text-align: center;
  font-weight: bolder;
}

.HeroLink {
  text-align: center;
  text-transform: capitalize;
  margin-top: 2rem;
}

.HeroLink a {
  text-align: center;
  color: rgb(207, 207, 207);
  text-transform: capitalize;
  line-height: 0;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
  transition: all 0.3s linear;
}

.HeroLink a:hover {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 0;
  margin-top: 17rem;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0.4rem 1rem;
}

@media (min-width: 780px) {
  .Hero {
    justify-content: space-between;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
      url("../Assets/Images/45362eee6f344eb1d926a659a6cf3f62.jpg") center/cover
        no-repeat;
  }

  .Hero h1 {
    font-size: 3.5rem;
    line-height: 0.8;
    font-weight: 300;
  }

  .Hero p {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1;
  }

  .HeroDetails {
    grid-template-columns: 1fr 1fr;
  }

  .HeroLink a {
    font-size: 1rem;
  }
}
