.FindADogFiltersSection {
	background: rgb(39, 39, 39);
	padding-top: 5rem;
	padding-bottom: 1rem;
}

.FindADogFiltersSection h2 {
	text-align: center;
	text-transform: uppercase;
}

.FidDogFiltersHolder {
	padding-top: 1rem;
	max-width: 1190px;
	margin: 0 auto;
}

.FilterBtn {
	display: block;
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	font-weight: 100;
	text-align: center;
	font-size: 1.2rem;
	text-transform: capitalize;
	outline: none;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 40px;
	padding: 0.5rem 1rem;
	width: 120px;
	margin: 1rem auto;
	transition: all 0.3s linear;
}

.FilterBtn:hover {
	color: rgb(39, 39, 39);
	background: #fff;
}

.FormHolder {
	position: absolute;
	top: 25%;
	min-width: 100%;
	padding: 2rem 2rem;
	margin: 0 auto;
	background: rgb(228, 228, 228);
	border-radius: 10px;
	transform: translateY(-150%);
	z-index: 100;
}

@media (min-width: 750px) {
	.FormHolder {
		top: 160px;
		min-width: 95%;
		left: 2.5%;
		transform: translateY(-140%);
	}
}

.FormHeader {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid rgb(194, 194, 194);
}

.FormHeader h2 {
	font-size: 1rem;
	color: rgb(39, 39, 39);
	margin-bottom: 0;
}

.ClearSearch {
	font-family: 'Times New Roman', Times, serif;
	color: rgb(39, 39, 39);
	font-size: 1rem;
	text-transform: capitalize;
	outline: none;
	background: transparent;
	border: none;
	transition: all 0.3s linear;
	margin-bottom: 0.3rem;
}

.ClearSearch:hover {
	color: rgb(155, 155, 155);
	text-decoration: underline;
}

.CloseFilterSectionBtn {
	color: rgb(39, 39, 39);
	font-size: 1.2rem;
}

.CloseFilterSectionBtn:hover {
	color: rgb(155, 155, 155);
}

.OptionsHolder {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1.5fr));
	padding: 0.5rem 0;
	border-radius: 10px;
}

.OptionsHolderAdvanced {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1.5fr));
	border-radius: 10px;
	border: 1px solid rgb(211, 211, 211);
	padding: 1rem 0;
	display: none;
}

.OptionsSection {
	overflow: scroll;
	overflow-x: hidden;
	height: 400px;
}

.OptionsSection input {
	display: inline-block;
	margin: 0.5rem;
	width: 20px;
	height: 20px;
}

.OptionsSection label {
	color: rgb(39, 39, 39);
	font-size: 0.8rem;
	text-transform: capitalize;
}

.CategoriesHolder {
	padding: 2rem 0;
	border-bottom: 2px solid rgb(194, 194, 194);
}

.FormHolder h3 {
	color: rgb(39, 39, 39);
}

.AdvanceFiltersBtnHolder {
	width: 100%;
	text-align: right;
	margin: 0.2rem 0;
}

.AdvanceFiltersBtnHolder button {
	outline: none;
	border: none;
	font-size: 0.9rem;
	text-transform: capitalize;
}

.AdvanceFiltersBtnHolder button:hover {
	color: rgb(155, 155, 155);
}

.SearchBtnHolder {
	width: 100%;
	text-align: right;
}

.SearchBtn {
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	font-weight: 100;
	text-align: center;
	font-size: 1.2rem;
	text-transform: capitalize;
	outline: none;
	background: rgb(39, 39, 39);
	border-radius: 40px;
	padding: 0.2rem 0.5rem;
	width: 120px;
	margin: 1rem auto;
	transition: all 0.3s linear;
}

.SearchBtn:hover {
	transform: scale(0.9);
}

.ShowForm {
	opacity: 1;
	animation: slideUp 0.3s ease-in;
	transform: none;
}

.Show {
	display: grid;
}

@keyframes slideUp {
	0% {
		transform: skewY(0deg) translateY(1000px);
	}
	100% {
		transform: skewY(0deg);
	}
}
